# Google Cloud Platform
GCP_PROJECT_ID=ton-project-id-ici
GCP_REGION=europe-west1
GCP_SA_KEY_PATH=./secrets/sa-key.json

# Bigtable
BIGTABLE_INSTANCE_ID=price-intelligence-instance
BIGTABLE_TABLE_ID=prices

# Airflow
AIRFLOW__CORE__FERNET_KEY=change-this-to-a-real-key
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=change-this-password

# Cloud Composer
COMPOSER_BUCKET=ton-bucket-composer

# Artifact Registry
ARTIFACT_REGISTRY_URL=europe-west1-docker.pkg.dev/ton-project/price-intelligence
