# ─── SECRETS & CREDENTIALS ───────────────────────
.env
.env.local
.env.production
secrets/
*.key
*.pem
*.p12
service-account*.json
gcp-credentials*.json
credentials.json
*-credentials*.json
secret/

# ─── PYTHON ──────────────────────────────────────
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/

# ─── AIRFLOW ─────────────────────────────────────
airflow/logs/*
airflow.db
airflow.cfg
standalone_admin_password.txt

# ─── DBT ─────────────────────────────────────────
dbt/target/
dbt/dbt_packages/
dbt/logs/

# ─── TERRAFORM ───────────────────────────────────
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.backup
infra/terraform/*.tfvars
infra/terraform/override.tf
infra/terraform/crash.log
infra/terraform/*.json
*terraform-sa-key.json
UsersHpterraform-sa-key.json
infra/terraform/terraform.tfstate*
# ─── DOCKER ──────────────────────────────────────
*.tar

# ─── JUPYTER ─────────────────────────────────────
notebooks/.ipynb_checkpoints/

# ─── OS ──────────────────────────────────────────
.DS_Store
Thumbs.db
desktop.ini
*.swp

# ─── IDE ─────────────────────────────────────────
.vscode/
.idea/
*.iml

# ─── LOGS ────────────────────────────────────────
*.log
logs/

# ─── NODE ────────────────────────────────────────
node_modules/
app/frontend/dist/